name: EKS CI/CD Pipeline

on:
  push:
    branches:
      - main

env:
  ECR_REGISTRY: 596660701410.dkr.ecr.us-east-1.amazonaws.com
  ECR_REPOSITORY: devops-portfolio
  IMAGE_TAG: latest
  CLUSTER_NAME: devops-portfolio-eks
  REGION: us-east-1

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.REGION }}

      - name: Login to ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build Docker image
        run: |
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG

      - name: Update Kubernetes Deployment
        run: |
          aws eks update-kubeconfig --region $REGION --name $CLUSTER_NAME
          kubectl set image deployment/devops-portfolio-deployment devops-portfolio=$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          kubectl rollout status deployment/devops-portfolio-deployment
